* {
  margin: 0;
  padding: 0;
  font-family: "popins", "sans-serif";
  box-sizing: border-box;
}
p {
  color: #696969;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/anastase-maragos-4dlhin0ghOk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  /* background: #080808; */
  color: #fff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fa-dumbbell {
  color: red;
  font-size: 80px;
  top: 10px;
}
.logoHead {
  padding-top: 23px;
  padding-left: 18px;
  font-size: 43px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 300px;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background: #ff004f;
  width: 0px;
  height: 3px;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  text-align: center;
  margin-top: 15%;
  font-size: 36px;
}
.header-button {
  padding: 15px 30px;
  background: rgb(124, 68, 68);
  font-size: 18px;
  border: 0;
  border-radius: 26px;
  color: antiquewhite;
  font-weight: bolder;
}
.second-page {
  height: 50vh;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.left {
  top: 30%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.left-head {
  /* top: 30px; */
  font-size: 20px;
  color: rgb(93, 104, 104);
  padding-bottom: 15px;
}
.left-sub-head {
  flex-wrap: 1;
  font-size: 35px;
  color: rgb(110, 105, 99);
  padding-bottom: 15px;
}
.left-p {
  height: 150px;
  font-size: 20px;
  padding-right: 20px;
  font-style: italic;
}

.right {
  flex-basis: 50%;
  margin: auto;
}
.right img {
  width: 100%;
  border-radius: 10px;
}
.therd-page {
  height: 30vh;
  width: 100%;
  background-color: rgb(223, 238, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}
.td-1,
.td-2,
.td-3,
.td-4 {
  width: 20%;
  height: 80%;
  padding: 20px;
}

.icon1 {
  justify-content: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.icon1 a {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 25px;
  padding-top: 22px;
  position: relative;
  color: #131112;
  border-radius: 50px;
  overflow: hidden;
}
.icon1 a .fas {
  position: relative;
  z-index: 10;
  transition: 0.5s;
}

.icon1 a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 90px;
  left: 0;
  background: linear-gradient(-45deg, #ed1c94, #ffec17);
  position: absolute;
  transition: 0.5s;
}

.icon1 a:hover::after {
  top: 0;
}
.icon1 a:hover .fas {
  color: #fff;
}
.therd-p-d h3 {
  text-align: center;
  padding-top: 20px;
}
.therd-p-d p {
  text-align: center;
  padding-top: 20px;
}

/* fouth-div */
.fourth-div {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f1 {
  width: 40%;
  height: 40vh;
  padding: 40px;
}
.f2 {
  width: 40%;
  height: 40vh;
}
.f2 img {
  height: 40vh;
}
.btn-4 {
  min-width: 300px;
  padding: 6px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
  border-radius: 6px;
}
.fmg-4 {
  min-width: 200px;
}
.fmg-41 {
  /* margin-top: 10px; */
}
.fmg-42 {
  margin-top: 10px;
}

/* fifth page */
.fifth-u {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth-h1 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.fifth-l {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
  width: 80%;
  margin-left: 10%;
}
.fifth-l-l {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fifth-l-m {
  width: 30%;
}
.fifth-l-r {
  width: 30%;
}

.img-5 {
  object-fit: cover;
  width: 100%;
}
.fifth-lh {
  display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}
.fifth-h2 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
}


/* footer */
.footer{
  background: #131419;
  color: aliceblue;
  width: 100%;
  height: 30vh;
}
.u-footer{

  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}
